// * === PEASE SANS 
@font-face {
	font-family: 'Peace Sans';
	src: url('../fonts/PeaceSans/Peace-Sans-Webfont.eot');
	src: local('☺'), url('../fonts/PeaceSans/Peace-Sans-Webfont.woff') format('woff'), url('../fonts/PeaceSans/Peace-Sans-Webfont.ttf') format('truetype'), url('../fonts/PeaceSans/Peace-Sans-Webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// * ===== POPPINS
// Regular
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins/Poppins-Regular.eot');
	src: local('☺'), url('../fonts/Poppins/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins/Poppins-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
// ExtraLight
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins/Poppins-ExtraLight.eot');
	src: local('☺'), url('../fonts/Poppins/Poppins-ExtraLight.woff') format('woff'), url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'), url('../fonts/Poppins/Poppins-ExtraLight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
// Bold
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins/Poppins-Bold.eot');
	src: local('☺'), url('../fonts/Poppins/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'), url('../fonts/Poppins/Poppins-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
// * ===== JOST
// Thin
@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost/Jost-Thin.eot');
	src: local('☺'), url('../fonts/Jost/Jost-Thin.woff') format('woff'), url('../fonts/Jost/Jost-Thin.ttf') format('truetype'), url('../fonts/Jost/Jost-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
// ExtraLight
@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost/Jost-ExtraLight.eot');
	src: local('☺'), url('../fonts/Jost/Jost-ExtraLight.woff') format('woff'), url('../fonts/Jost/Jost-ExtraLight.ttf') format('truetype'), url('../fonts/Jost/Jost-ExtraLight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
// Regular
@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost/Jost-Regular.eot');
	src: local('☺'), url('../fonts/Jost/Jost-Regular.woff') format('woff'), url('../fonts/Jost/Jost-Regular.ttf') format('truetype'), url('../fonts/Jost/Jost-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
// * ====== INTER
// Thin
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Thin.eot');
	src: local('☺'), url('../fonts/Inter/Inter-Thin.woff') format('woff'), url('../fonts/Inter/Inter-Thin.ttf') format('truetype'), url('../fonts/Inter/Inter-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
// Regular
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Regular.eot');
	src: local('☺'), url('../fonts/Inter/Inter-Regular.woff') format('woff'), url('../fonts/Inter/Inter-Regular.ttf') format('truetype'), url('../fonts/Inter/Inter-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
// ExtraLight
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-ExtraLight.eot');
	src: local('☺'), url('../fonts/Inter/Inter-ExtraLight.woff') format('woff'), url('../fonts/Inter/Inter-ExtraLight.ttf') format('truetype'), url('../fonts/Inter/Inter-ExtraLight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
