// colors
$primary-color: #709CFF;
$secondary-color: #FF8585;
$dark-color: #3758A3;
$light-color: #E8E0FF;
$title-color: #0C313E;
$button-color: #395A69;
// transition
$buttonTransition: all 0.2s ease;

// fonts
@mixin font($fontFamily, $fontSize, $fontWight, $fontColor) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWight;
    color: $fontColor;
}
// position
@mixin position($justify-content, $align-items, $flex-direction) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

